-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: metro.proxy.rlwy.net    Database: railway
-- ------------------------------------------------------
-- Server version	9.4.0
/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;

/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;

/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;

/*!50503 SET NAMES utf8mb4 */;

/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;

/*!40103 SET TIME_ZONE='+00:00' */;

/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;

/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;

/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;

/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--
DROP TABLE IF EXISTS `admin`;

/*!40101 SET @saved_cs_client     = @@character_set_client */;

/*!50503 SET character_set_client = utf8mb4 */;

CREATE TABLE
  `admin` (
    `id_admin` int NOT NULL AUTO_INCREMENT,
    `username` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
    `password` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
    PRIMARY KEY (`id_admin`),
    UNIQUE KEY `username` (`username`)
  ) ENGINE = InnoDB AUTO_INCREMENT = 3 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_general_ci;

/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--
LOCK TABLES `admin` WRITE;

/*!40000 ALTER TABLE `admin` DISABLE KEYS */;

INSERT INTO
  `admin`
VALUES
  (
    1,
    'adminpolnep',
    '$2b$10$fXdcnMf0OWMQSkbZhly.Buc9g3dTpRHoJrZUTX7/S6D1J2liMk8ry'
  ),
  (
    2,
    'irfansabrian',
    '$2b$10$tQt3CSN4Gzt5GNhXoTQO0eGrTTsE3CGUP4AZeC6DB.vXyLw4eUTjW'
  );

/*!40000 ALTER TABLE `admin` ENABLE KEYS */;

UNLOCK TABLES;

--
-- Table structure for table `bangunan`
--
DROP TABLE IF EXISTS `bangunan`;

/*!40101 SET @saved_cs_client     = @@character_set_client */;

/*!50503 SET character_set_client = utf8mb4 */;

CREATE TABLE
  `bangunan` (
    `id_bangunan` int NOT NULL AUTO_INCREMENT,
    `nama` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
    `interaksi` enum ('Interaktif', 'Noninteraktif') COLLATE utf8mb4_general_ci DEFAULT NULL,
    `lantai` int DEFAULT NULL,
    `geometri` text COLLATE utf8mb4_general_ci,
    `thumbnail` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
    PRIMARY KEY (`id_bangunan`)
  ) ENGINE = InnoDB AUTO_INCREMENT = 50 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_general_ci;

/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bangunan`
--
LOCK TABLES `bangunan` WRITE;

/*!40000 ALTER TABLE `bangunan` DISABLE KEYS */;


/*!40000 ALTER TABLE `bangunan` ENABLE KEYS */;

UNLOCK TABLES;

--
-- Table structure for table `lantai_gambar`
--
DROP TABLE IF EXISTS `lantai_gambar`;

/*!40101 SET @saved_cs_client     = @@character_set_client */;

/*!50503 SET character_set_client = utf8mb4 */;

CREATE TABLE
  `lantai_gambar` (
    `id_lantai_gambar` int NOT NULL AUTO_INCREMENT,
    `id_bangunan` int NOT NULL,
    `nama_file` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
    `path_file` varchar(500) COLLATE utf8mb4_general_ci NOT NULL,
    `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (`id_lantai_gambar`),
    KEY `id_bangunan` (`id_bangunan`),
    CONSTRAINT `lantai_gambar_ibfk_1` FOREIGN KEY (`id_bangunan`) REFERENCES `bangunan` (`id_bangunan`) ON DELETE CASCADE
  ) ENGINE = InnoDB AUTO_INCREMENT = 29 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_general_ci;

/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lantai_gambar`
--
LOCK TABLES `lantai_gambar` WRITE;

/*!40000 ALTER TABLE `lantai_gambar` DISABLE KEYS */;


/*!40000 ALTER TABLE `lantai_gambar` ENABLE KEYS */;

UNLOCK TABLES;

--
-- Table structure for table `ruangan`
--
DROP TABLE IF EXISTS `ruangan`;

/*!40101 SET @saved_cs_client     = @@character_set_client */;

/*!50503 SET character_set_client = utf8mb4 */;

CREATE TABLE
  `ruangan` (
    `id_ruangan` int NOT NULL AUTO_INCREMENT,
    `nama_ruangan` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
    `nomor_lantai` int NOT NULL,
    `id_bangunan` int NOT NULL,
    `nama_jurusan` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
    `nama_prodi` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
    `pin_style` varchar(50) COLLATE utf8mb4_general_ci DEFAULT 'default',
    `posisi_x` decimal(10, 2) DEFAULT NULL,
    `posisi_y` decimal(10, 2) DEFAULT NULL,
    PRIMARY KEY (`id_ruangan`),
    KEY `id_bangunan` (`id_bangunan`),
    CONSTRAINT `ruangan_ibfk_1` FOREIGN KEY (`id_bangunan`) REFERENCES `bangunan` (`id_bangunan`) ON DELETE CASCADE
  ) ENGINE = InnoDB AUTO_INCREMENT = 16 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_general_ci;

/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ruangan`
--
LOCK TABLES `ruangan` WRITE;

/*!40000 ALTER TABLE `ruangan` DISABLE KEYS */;


/*!40000 ALTER TABLE `ruangan` ENABLE KEYS */;

UNLOCK TABLES;

--
-- Table structure for table `ruangan_gallery`
--
DROP TABLE IF EXISTS `ruangan_gallery`;

/*!40101 SET @saved_cs_client     = @@character_set_client */;

/*!50503 SET character_set_client = utf8mb4 */;

CREATE TABLE
  `ruangan_gallery` (
    `id_gallery` int NOT NULL AUTO_INCREMENT,
    `id_ruangan` int NOT NULL,
    `nama_file` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
    `path_file` varchar(500) COLLATE utf8mb4_general_ci NOT NULL,
    `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (`id_gallery`),
    KEY `id_ruangan` (`id_ruangan`),
    CONSTRAINT `ruangan_gallery_ibfk_1` FOREIGN KEY (`id_ruangan`) REFERENCES `ruangan` (`id_ruangan`) ON DELETE CASCADE
  ) ENGINE = InnoDB AUTO_INCREMENT = 18 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_general_ci;

/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ruangan_gallery`
--
LOCK TABLES `ruangan_gallery` WRITE;

/*!40000 ALTER TABLE `ruangan_gallery` DISABLE KEYS */;


/*!40000 ALTER TABLE `ruangan_gallery` ENABLE KEYS */;

UNLOCK TABLES;

/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;

/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;

/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;

/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;

/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;

/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;

/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-20 16:33:14